# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
lib/firebase_options.dart
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
ios/firebase_app_id_file.json
android/app/google-services.json
.gitignore
macos/Runner.xcodeproj/project.pbxproj
ios/Runner/GoogleService-Info.plist
ios/Runner.xcodeproj/project.pbxproj
.gitignore
android/build.gradle
macos/firebase_app_id_file.json
.gitignore
macos/Runner/GoogleService-Info.plist
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/project.pbxproj
android/build.gradle
.vscode/launch.json
